{
  "openapi": "3.1.0",
  "info": {
    "title": "queen-api",
    "description": "API for Queen/Stromae",
    "version": "4.3.10-SNAPSHOT"
  },
  "servers": [
    {
      "url": "https://stromae-v2-api.demo.insee.io",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "06. Survey units",
      "description": "Endpoints for survey units"
    },
    {
      "name": "03. Questionnaires",
      "description": "Endpoints for questionnaires"
    },
    {
      "name": "08. Survey units in temp Zone",
      "description": "Endpoints for survey units in temporary zone"
    },
    {
      "name": "10. Create Data Set",
      "description": "Endpoints for creating dataset"
    },
    {
      "name": "02. Campaigns",
      "description": "Endpoints for campaigns"
    },
    {
      "name": "05. Metadata",
      "description": "Endpoints for retrieving metadata"
    },
    {
      "name": "07. Paradata events",
      "description": "Endpoints for paradata events"
    },
    {
      "name": "01. Integrations",
      "description": "Endpoints for integration"
    },
    {
      "name": "04. Nomenclatures",
      "description": "Endpoints for nomenclatures"
    }
  ],
  "paths": {
    "/api/survey-unit/{id}": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get survey-unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getSurveyUnitById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyUnit"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["06. Survey units"],
        "summary": "Update survey-unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "updateSurveyUnitById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyUnitUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": ["06. Survey units"],
        "summary": "Delete a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "deleteSurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      },
      "patch": {
        "tags": ["06. Survey units"],
        "summary": "Update survey-unit updated data/state-data",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "updateSurveyUnitDataStateDataById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyUnitDataStateDataUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/state-data": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get state-data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getStateDataBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/StateData"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["06. Survey units"],
        "summary": "Update state-data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "setStateData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StateDataUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/personalization": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get personalization for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getPersonalizationBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "schema.personalization.json"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["06. Survey units"],
        "summary": "Update personalization for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "setPersonalization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "schema.personalization.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/data": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getDataBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "schema.data.json"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["06. Survey units"],
        "summary": "Update data for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "updateData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "schema.data.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-unit/{id}/comment": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get comment for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getCommentBySurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["06. Survey units"],
        "summary": "Update comment for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "setComment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/survey-units/state-data": {
      "post": {
        "tags": ["06. Survey units"],
        "summary": "Get state-data for all survey-units defined in request body ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getStateDataBySurveyUnits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyUnitsOkNok"
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/questionnaire-model-id": {
      "post": {
        "tags": ["03. Questionnaires"],
        "summary": "Search questionnaire ids linked to survey units",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getQuestionnaireModelIdBySurveyUnits",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyUnitsOkNok"
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-unit/{id}/temp-zone": {
      "post": {
        "tags": ["08. Survey units in temp Zone"],
        "summary": "Create survey-unit to temp-zone",
        "description": "Authorized roles: ADMIN / WEBCLIENT / INTERVIEWER / ",
        "operationId": "postSurveyUnitByIdInTempZone",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "schema.survey-unit-temp-zone.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/questionnaire-models": {
      "post": {
        "tags": ["03. Questionnaires"],
        "summary": "Create a Questionnaire Model",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "createQuestionnaire",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuestionnaireModelCreation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/paradata": {
      "post": {
        "tags": ["07. Paradata events"],
        "summary": "Create paradata event for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "addParadata",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/nomenclature": {
      "post": {
        "tags": ["04. Nomenclatures"],
        "summary": "Create/update a nomenclature ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "postNomenclature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NomenclatureCreation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/create-dataset": {
      "post": {
        "tags": ["10. Create Data Set"],
        "summary": "Create dataset",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "createDataSet",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/campaigns": {
      "get": {
        "tags": ["02. Campaigns"],
        "summary": "Get campaign list for the current user",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getInterviewerCampaignList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignSummary"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["02. Campaigns"],
        "summary": "Create a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "createCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "deprecated": true
      }
    },
    "/api/campaign": {
      "post": {
        "tags": ["02. Campaigns"],
        "summary": "Create a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "createCampaignV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignCreationV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/campaign/{id}/survey-unit": {
      "post": {
        "tags": ["06. Survey units"],
        "summary": "Create/Update a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "createUpdateSurveyUnit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyUnitCreation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/campaign/xml/context": {
      "post": {
        "tags": ["01. Integrations"],
        "summary": "Integrates the context of a campaign (XML Version - will be removed in a future version)",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "integrateXmlContext",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResults"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/campaign/context": {
      "post": {
        "tags": ["01. Integrations"],
        "summary": "Integrates the context of a campaign (JSON version)",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "integrateContext",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationResults"
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get all survey-units ids",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "getSurveyUnitIds",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/temp-zone": {
      "get": {
        "tags": ["08. Survey units in temp Zone"],
        "summary": "GET all survey-units in temp-zone",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getSurveyUnitsInTempZone",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SurveyUnitTempZone"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-units/interviewer": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get list of survey units linked to the current interviewer",
        "description": "Authorized roles: ADMIN / WEBCLIENT / INTERVIEWER / ",
        "operationId": "getInterviewerSurveyUnits",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SurveyUnit"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-unit/{id}/metadata": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get survey-unit metadata",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getSurveyUnitMetadataById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyUnitMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/api/survey-unit/{id}/deposit-proof": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get deposit proof for a survey unit",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "generateDepositProof",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/questionnaire/{id}": {
      "get": {
        "tags": ["03. Questionnaires"],
        "summary": "Get questionnnaire",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getQuestionnaireValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionnaireModelValue"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/questionnaire/{id}/required-nomenclatures": {
      "get": {
        "tags": ["04. Nomenclatures"],
        "summary": "Get list of required nomenclature for a questionnaire",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getListRequiredNomenclatureByQuestionnaireId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/questionnaire/{id}/metadata": {
      "get": {
        "tags": ["05. Metadata"],
        "summary": "Get metadata for a questionnaire ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getMetadataByQuestionnaireId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "schema.metadata.json"
                }
              }
            }
          }
        }
      }
    },
    "/api/questionnaire/{id}/data": {
      "get": {
        "tags": ["03. Questionnaires"],
        "summary": "Get questionnnaire data",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getQuestionnaireData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/nomenclatures": {
      "get": {
        "tags": ["04. Nomenclatures"],
        "summary": "Get all nomenclatures Ids ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getNomenclaturesId",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/nomenclature/{id}": {
      "get": {
        "tags": ["04. Nomenclatures"],
        "summary": "Get Nomenclature",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getNomenclatureById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "schema.nomenclature.json"
                }
              }
            }
          }
        }
      }
    },
    "/api/healthcheck": {
      "get": {
        "tags": ["09. HealthCheck"],
        "summary": "Healthcheck, check if api is alive",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/campaign/{id}/survey-units": {
      "get": {
        "tags": ["06. Survey units"],
        "summary": "Get list of survey units for a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getListSurveyUnitByCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SurveyUnitSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/required-nomenclatures": {
      "get": {
        "tags": ["04. Nomenclatures"],
        "summary": "Get list of required nomenclatures for a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getListRequiredNomenclature",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/questionnaires": {
      "get": {
        "tags": ["03. Questionnaires"],
        "summary": "Get questionnaire list for a campaign ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getQuestionnaireDatasByCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuestionnaireModelValue"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/questionnaire-id": {
      "get": {
        "tags": ["03. Questionnaires"],
        "summary": "Get list of questionnaire ids for a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / ",
        "operationId": "getQuestionnaireIdsByCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuestionnaireModelId"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}/metadata": {
      "get": {
        "tags": ["05. Metadata"],
        "summary": "Get metadata for a campaign ",
        "description": "Authorized roles: ADMIN / WEBCLIENT / REVIEWER / REVIEWER_ALTERNATIVE / INTERVIEWER / SURVEY_UNIT / ",
        "operationId": "getMetadataByCampaignId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "schema.metadata.json"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/campaigns": {
      "get": {
        "tags": ["02. Campaigns"],
        "summary": "Get list of all campaigns",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "getListCampaign",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignSummary"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/campaign/{id}": {
      "delete": {
        "tags": ["02. Campaigns"],
        "summary": "Delete a campaign",
        "description": "Authorized roles: ADMIN / WEBCLIENT / ",
        "operationId": "deleteCampaignById",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StateDataUpdate": {
        "properties": {
          "state": {
            "type": "string",
            "enum": ["INIT", "COMPLETED", "VALIDATED", "TOEXTRACT", "EXTRACTED"]
          },
          "date": {
            "type": "integer",
            "format": "int64"
          },
          "currentPage": {
            "type": "string"
          }
        },
        "required": ["currentPage", "date", "state"]
      },
      "SurveyUnitUpdate": {
        "properties": {
          "personalization": {
            "$ref": "schema.personalization.json"
          },
          "data": {
            "type": "object",
            "$ref": "schema.data.json"
          },
          "comment": {
            "type": "object"
          },
          "stateData": {
            "$ref": "#/components/schemas/StateDataUpdate"
          }
        }
      },
      "StateData": {
        "properties": {
          "state": {
            "type": "string",
            "enum": ["INIT", "COMPLETED", "VALIDATED", "TOEXTRACT", "EXTRACTED"]
          },
          "date": {
            "type": "integer",
            "format": "int64"
          },
          "currentPage": {
            "type": "string"
          }
        }
      },
      "SurveyUnit": {
        "properties": {
          "id": {
            "type": "string"
          },
          "questionnaireId": {
            "type": "string"
          },
          "personalization": {
            "$ref": "schema.personalization.json"
          },
          "data": {
            "type": "object",
            "$ref": "schema.data.json"
          },
          "comment": {
            "type": "object"
          },
          "stateData": {
            "$ref": "#/components/schemas/StateData"
          }
        }
      },
      "SurveyUnitsOkNok": {
        "properties": {
          "surveyUnitOK": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SurveyUnit"
            }
          },
          "surveyUnitNOK": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SurveyUnit"
            }
          }
        }
      },
      "QuestionnaireModelCreation": {
        "properties": {
          "idQuestionnaireModel": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "value": {
            "type": "object"
          },
          "requiredNomenclatureIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          }
        },
        "required": ["label", "value"]
      },
      "NomenclatureCreation": {
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "value": {
            "$ref": "schema.nomenclature.json"
          }
        },
        "required": ["label", "value"]
      },
      "CampaignCreation": {
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "questionnaireIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataCreation"
          }
        },
        "required": ["label", "questionnaireIds"]
      },
      "MetadataCreation": {
        "properties": {
          "value": {
            "type": "object",
            "$ref": "schema.metadata.json"
          }
        },
        "required": ["value"]
      },
      "CampaignCreationV2": {
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "questionnaireIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "uniqueItems": true
          },
          "metadata": {
            "type": "object",
            "$ref": "schema.metadata.json"
          }
        },
        "required": ["label", "questionnaireIds"]
      },
      "SurveyUnitCreation": {
        "properties": {
          "id": {
            "type": "string"
          },
          "questionnaireId": {
            "type": "string"
          },
          "personalization": {
            "$ref": "schema.personalization.json"
          },
          "data": {
            "type": "object",
            "$ref": "schema.data.json"
          },
          "comment": {
            "type": "object"
          },
          "stateData": {
            "$ref": "#/components/schemas/StateDataUpdate"
          }
        },
        "required": ["comment", "data", "personalization", "questionnaireId"]
      },
      "IntegrationResultUnit": {
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["CREATED", "UPDATED", "ERROR"]
          },
          "cause": {
            "type": "string"
          }
        }
      },
      "IntegrationResults": {
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/IntegrationResultUnit"
          },
          "nomenclatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationResultUnit"
            }
          },
          "questionnaireModels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationResultUnit"
            }
          }
        }
      },
      "SurveyUnitDataStateDataUpdate": {
        "properties": {
          "data": {
            "type": "object",
            "$ref": "schema.collected-data.json"
          },
          "stateData": {
            "$ref": "#/components/schemas/StateDataUpdate"
          }
        },
        "required": ["stateData"]
      },
      "SurveyUnitTempZone": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "surveyUnitId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "date": {
            "type": "integer",
            "format": "int64"
          },
          "surveyUnit": {
            "type": "object",
            "$ref": "schema.survey-unit-temp-zone.json"
          }
        }
      },
      "Logo": {
        "properties": {
          "url": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": ["label", "url"]
      },
      "Logos": {
        "properties": {
          "main": {
            "$ref": "#/components/schemas/Logo"
          },
          "secondaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Logo"
            }
          }
        },
        "required": ["main"]
      },
      "MetadataVariable": {
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {}
        },
        "required": ["name", "value"]
      },
      "SurveyUnitMetadata": {
        "properties": {
          "context": {
            "type": "string",
            "enum": ["household", "business"]
          },
          "personalization": {
            "$ref": "schema.personalization.json"
          },
          "label": {
            "type": "string"
          },
          "objectives": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetadataVariable"
            }
          },
          "logos": {
            "$ref": "#/components/schemas/Logos"
          }
        },
        "required": ["context", "label", "objectives"]
      },
      "QuestionnaireModelValue": {
        "properties": {
          "value": {
            "type": "object"
          }
        }
      },
      "CampaignSummary": {
        "properties": {
          "id": {
            "type": "string"
          },
          "questionnaireIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SurveyUnitSummary": {
        "properties": {
          "id": {
            "type": "string"
          },
          "questionnaireId": {
            "type": "string"
          }
        }
      },
      "QuestionnaireModelId": {
        "properties": {
          "questionnaireId": {
            "type": "string"
          }
        }
      },
      "ArrayNode": {
        "type": "array",
        "items": {
          "type": "object"
        }
      },
      "ObjectNode": {
        "type": "object"
      }
    }
  }
}
