/* Adapt suggester popper width in table. Should be handled by slot components. */
.fr-table .field .MuiAutocomplete-popper {
  min-width: fit-content;
}
.sequence-header .styles-module_tooltip__mnnfp {
  max-width: 98vw;
}

/** Add a spacing between fields when there are multiple in the same page (e.g. pairing). */
.field-container > .field {
  & > :not(:last-child, .sequence-lunatic) {
    margin-block-end: 1.5rem;
  }
}

/** Save badge and helper text */
.save-action {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  margin-top: 2rem;

  @media (min-width: 48em) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.save-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;

  @media (min-width: 48em) {
    align-items: flex-end;
  }
}
