name: Deploy Documentation
on:
  push:
    branches: ['main']
    paths:
      - website/**
  pull_request:
    branches:
      - main
    paths:
      - website/**

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: build docs website
        working-directory: ./website/
        run: pnpm install && pnpm run build
      - uses: actions/upload-artifact@v4
        with:
          name: website-build
          path: website/build

  deploy:
    name: Deploy docs to GitHub Pages
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Download docs artifact
        uses: actions/download-artifact@v4
        with:
          name: website-build
          path: website/build
      - name: Deploy docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/build
          destination_dir: ./docs
